#!/bin/sh
#
#    50-cbio-slurm - print the welcome message

printf "     _                  _            _      _              ____    _ _ _  __      "
printf "  __| |_  _ _ _ _ __   | |_ _ _ __ _(_)_ _ (_)_ _  __ _   / __ \  (_) (_)/ _|_  _ "
printf " (_-< | || | '_| '  \  |  _| '_/ _` | | ' \| | ' \/ _` | / / _` | | | | |  _| || |"
printf " /__/_|\_,_|_| |_|_|_|  \__|_| \__,_|_|_||_|_|_||_\__, | \ \__,_| |_|_|_|_|  \_,_|"
printf "                                                  |___/   \____/                  "
printf "\n"
printf " Welcome to the slurm training cluster. Never give anyone else your access details!\n"
