#!/bin/sh

printf %b "       __                 __           _      _             _____    _ ___ ___    \n"
printf %b "  ___ / /_ ________ _    / /________ _(_)__  (_)__  ___ _  / ___ \  (_) (_) _/_ __\n"
printf %b " (_-</ / // / __/  ' \  / __/ __/ _ \`/ / _ \/ / _ \/ _ \`/ / / _ \`/ / / / / _/ // /\n"
printf %b "/___/_/\_,_/_/ /_/_/_/  \__/_/  \_,_/_/_//_/_/_//_/\_, /  \ \_,_/ /_/_/_/_/ \_,_/ \n"
printf %b "                                                  /___/    \___/                  \n"
