files.tar
.venv
.vscode
__pycache__
.coverage
build
dist
.openstack_history.*
.idea
*openrc.sh
*.project
variables.auto.hcl
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
terraform.tfstate
inventory.ini
