[sssd]
config_file_version = 2
domains = {{ ldap.dns_domain_name }}

[domain/{{ ldap.dns_domain_name }}]
# autofs_provider = ldap
# ldap_schema = rfc2307
ldap_search_base = dc={% for element in ldap.dns_domain_name.split('.') %}{{ element }}{% if not loop.last %},dc={% endif %}{% endfor %}

id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_uri = ldap://{{ ldap.host }}:389
ldap_tls_reqcert = allow
ldap_id_use_start_tls = false

# Enable password caching to allow offline authentication
cache_credentials = true
# Enumerate users and groups
enumerate = true
