all:
  vars:
    ansible_connection: ssh
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no -o ControlPersist=15m -i ${ssh_key_location}"
    ansible_ssh_extra_args: "-o ProxyCommand='ssh -o StrictHostKeyChecking=no -o ControlPersist=15m -A -i ${ssh_key_location} ubuntu@${floating_ip.address} nc %h 22'"
    ansible_ssh_private_key_file: ${ssh_key_location}
    ansible_user: ubuntu

    ldap:
      host: "${ldap_host}"
      dns_domain_name: "${ldap_dns_domain_name}"
      password: "${ldap_password}"
      organisation: "${ldap_organisation_name}"
    slurm_config:
      cluster_name: ${cluster_name}
      controller_host: ${controller_host}
      database_host: ${database_host}
      slurm_db_password: ${slurm_db_password}
      db_name: ${db_name}
      username: ${slurm_username}
      group_name: ${slurm_group_name}
    ceph_mounts:
%{ for mount in ceph_mounts ~}
      - ${ mount.name }:
        name: "${ mount.name }"
        export_locations:
%{ for location in mount.export_locations ~}
          - "${ location.path }"
%{ endfor ~}
        access_key: "${ mount.access }"
        access_to: "${ mount.access_to }"
        mount_point: "${ mount.mount_point }"
%{ endfor ~}
    password_login_enabled: ${password_login_enabled}

  children:
    ldap_server:
      hosts:
        ldap:
          ansible_host: ${ldap_node.access_ip_v4}
          private_ip: ${ldap_node.access_ip_v4}

    slurm:
      children:
        slurm_database:
          hosts:
            database:
              ansible_host: ${database_node.access_ip_v4}
              private_ip: ${database_node.access_ip_v4}

        slurm_controller:
          hosts:
            controller:
              ansible_host: ${controller_node.access_ip_v4}
              private_ip: ${controller_node.access_ip_v4}

        slurm_headnode:
          hosts:
            login:
              ansible_host: ${floating_ip.address}
              private_ip: ${login_node.access_ip_v4}
          vars:
            ansible_ssh_extra_args: ""
            password_login_enabled: ${password_login_enabled}

        slurm_compute:
          hosts:
%{ for node in compute_nodes ~}
            ${node.name}:
              ansible_host: ${node.access_ip_v4}
              private_ip: ${node.access_ip_v4}
%{ endfor ~}

