all:
  vars:
    ansible_connection: ssh
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no -o ControlPersist=15m -i ${ssh_key_location}"
    ansible_ssh_extra_args: "-o ProxyCommand='ssh -o StrictHostKeyChecking=no -o ControlPersist=15m -A -i ${ssh_key_location} ubuntu@${floating_ip.address} nc %h 22'"
    ansible_ssh_private_key_file: ${ssh_key_location}
    ansible_user: ubuntu

  children:
    ldap_server:
      hosts:
        ldap:
          ansible_host: ${ldap_node.access_ip_v4}
          private_ip: ${ldap_node.access_ip_v4}

    slurm:
      children:
        slurm_database:
          hosts:
            database:
              ansible_host: ${database_node.access_ip_v4}
              private_ip: ${database_node.access_ip_v4}

        slurm_controller:
          hosts:
            controller:
              ansible_host: ${controller_node.access_ip_v4}
              private_ip: ${controller_node.access_ip_v4}

        slurm_headnode:
          hosts:
            login:
              ansible_host: ${floating_ip.address}
              private_ip: ${login_node.access_ip_v4}
          vars:
            ansible_ssh_extra_args: ""
            password_login_enabled: ${password_login_enabled}

        slurm_compute:
          hosts:
%{ for node in compute_nodes ~}
            ${node.name}:
              ansible_host: ${node.access_ip_v4}
              private_ip: ${node.access_ip_v4}
%{ endfor ~}

      vars:
        slurm:
          lmod:
            version: ${lmod.version}
            url: ${lmod.url}
          slurm_config:
            cluster_name: ${cluster_name}
            controller_host: ${controller_host}
            database_host: ${database_host}
            slurm_db_password: ${slurm_db_password}
            db_name: ${db_name}
            username: ${slurm_username}
            group_name: ${slurm_group_name}
          ceph_mounts: ${ceph_mounts_json:-[]}
