[defaults]
ansible_connection = ssh
roles_path = ./roles
gathering = smart
fact_caching = redis
forks = 10
hash_behaviour = merge
#interpreter_python=/usr/bin/python3
#interpreter_python=auto_silent
ansible_python_interpreter=/usr/bin/python3
