# JupyterHub reverse proxy configuration
# NOTE: This file is deprecated. JupyterHub routing is now handled in caddy_static.conf.j2
# which serves the static landing page at / and proxies /jupyter/* to JupyterHub.
# Keeping this file for backwards compatibility, but it should be empty to avoid conflicts.